.register-button-group {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-3);
  padding-top: var(--space-6);
  margin-top: var(--space-2);
}

.register-button-group--flex {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-3);
}

.register-button-group::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background: var(--color-gray-200);
}

.register-button-group .btn {
  width: 100%;
}

@media (width <= 640px) {
  .register-button-group {
    grid-template-columns: 1fr;
  }
}
